.form {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #353336;
  display: block;
}
.control div {
  height: 30px;
  width: 100%;
  display: flex;
}
.control input {
  display: block;
  font: inherit;
  width: calc(100% - 30px);
  border-radius: 4px 0 0 4px;
  border: 1px solid #38015c;
  border-right: none;
  padding: 0.25rem;
  background-color: #f7f0fa;
}
.control input:focus {
  outline: none;
}
.control i {
  width: 30px;
  border: 1px solid #38015c;
  background-color: #f7f0fa;
  border-left: none;
}

.action {
  margin-top: 1.5rem;
}

.action button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #38015c;
  color: white;
  border: 1px solid #38015c;
}

.action button:hover {
  background-color: #540d83;
  border-color: #540d83;
}

.message p {
  margin-top: 1rem;
  color: white;
  border: none;
  padding: 0.15rem 1.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message .error {
  background-color: rgb(250, 62, 62);
}
.message .success {
  background-color: limegreen;
}
